.wrapper{
	width: 100%;
	margin: 0 auto;
}
.Project_name{
	font-size: 30px;
	color: grey;
}
.navigation{
	width: 90%;
	margin: 0 auto;
}
.navigation li{
	width: calc(100%/6);
}
@media only screen and (max-device-width: 480px) {
	.navigation li{ width: 100%;}
	}
ul {
    list-style-type: none;
     overflow: hidden;
     margin: 0;
     padding: 0;

}
li {
    display: inline;
    float: left;
   }
ul li:first-child a{
	
	border-radius: 8px 0 0 8px;
}

ul li:last-child a{
	border-radius: 0px 8px 8px 0px;
}

li a {
	display: block;
     color: black;
     background-color: #eff1f4;
   	 text-align: center;
     text-decoration: none;
     border: 1px solid white;
     margin: 3px 0px;
     padding: 15px;
}

li a:hover {
    background-color: #c7c9cc;
    box-shadow: inset 1px 0px 5px 1px grey;
    cursor: pointer;
 }

.jumbotron{
	text-align: center;
	padding: 60px;
	font-family: 'Risque', cursive;
}
h1 {
font-size: 50px;
font-family: 'Risque', cursive;
}
.bigtext{
	font-size: 20px;
	font-family: 'Risque', cursive;
}
.jumbotron button{
	font-family: 'Risque', cursive;
	color: white;
	background-color: green;
	padding: 15px 10px;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	}
div .content {
	display: inline-block;
	width: calc(100%/3);
	padding: 0px;
	vertical-align: top;
	margin: none;
	}
@media only screen and (max-device-width: 480px) {
	div .content{ width: 100%;}
	}
button{
	color: white;
	background-color: blue;
	border-radius: 5px;
	border: 0;
	padding: 5px;
	
}
@media only screen and (max-device-width: 480px) {
	button { width: 95%;
		margin: 3px;
		padding: 5px;
		font-size: 30px;}
	}
.footer{
	margin-top: 50px;
	color: grey;
}
.scrollbar{
	overflow-y: scroll;
}
