.wrapper{
	width: 100%;
	margin: 0 auto;
}
.Project_name{
	font-size: 30px;
	color: grey;
	margin-bottom: 30px
}
.navigation{
	width: 90%;
	margin: 0 auto;
}
.navigation li{
	width: calc(100%/6);
}
ul {
    list-style-type: none;
     overflow: hidden;
     margin: 0;
     padding: 0;

}
li {
    display: inline;
    float: left;
   }
ul li:first-child a{
	
	border-radius: 8px 0 0 8px;
}

ul li:last-child a{
	border-radius: 0px 8px 8px 0px;
}

li a {
	display: block;
     color: black;
     background-color: #eff1f4;
   	 text-align: center;
     text-decoration: none;
     border: 1px solid white;
     margin: 3px 0px;
     padding: 15px;
}

li a:hover {
    background-color: #c7c9cc;
    box-shadow: inset 1px 0px 5px 1px grey;
    cursor: pointer;
 }

.jumbotron{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 60px;
	font-family: 'Risque', cursive;
}
h1 {
font-size: 50px;
font-family: 'Risque', cursive;
}
.bigtext{
	font-size: 20px;
	font-family: 'Risque', cursive;
}
.jumbotron button{
	font-family: 'Risque', cursive;
	color: white;
	background-color: green;
	padding: 15px 10px;
	border: none;
	font-size: 20px;
	border-radius: 10px;
	}
div .content {
	width: 90%;
	margin: 0 auto;
	display: inline-block;
	width: calc(95%/3);
	padding: 0px;
	vertical-align: top;
	margin: none;
	padding-right: 5px;
	}

button{
	color: white;
	background-color: blue;
	border-radius: 5px;
	border: 0;
	padding: 5px;
	
}

.footer{
	width: 90%;
	margin-top: 50px;
	color: grey;
}
.allcontent{
	width: 90%;
	margin: 0 auto;
	}
@media only screen and (max-device-width: 480px) {
	.Project_name{
	font-size: 30px;
	color: grey;
}

.navigation li{
	width: 100%;
}
ul {
    list-style-type: none;
     /*overflow: hidden;
     margin: 0;
     padding: 0;*/

}

ul li:first-child a{
	
	border-radius: 8px 8px 0 0;
}

ul li:last-child a{
	border-radius: 0px 8px 0px 8px;
}

li a {
		display: block;
     color: grey;
     background-color: #eff1f4;
   	 text-align: center;
     text-decoration: none;
     font-size: 35px;
     border: none;
     margin: 3px 0px;
     padding: 15px;
}

li a:hover {
    background-color: #c7c9cc;
    box-shadow: inset 1px 0px 5px 1px grey;
    cursor: pointer;
 }

.jumbotron{
	text-align: center;
	padding: 60px;
	font-family: 'Risque', cursive;
}
h1 {
font-size: 50px;
font-family: 'Risque', cursive;
}
.bigtext{
	font-size: 15px;
	font-family: 'Risque', cursive;
}
.jumbotron button{
	font-family: 'Risque', cursive;
	color: white;
	background-color: green;
	padding: 40px 40px;
	border: none;
	font-size: 55px;
	border-radius: 10px;
	}
div .content {
	display: inline-block;
	width: 100%;
	padding: 0px;
	vertical-align: top;
	margin: none;
	}

.content button{
	color: white;
	background-color: blue;
	border-radius: 8px;
	width: 100%;
	font-size: 40px;
	border: 0;
	padding: 20px;
	
}

.footer{
	margin-top: 70px;
	color: grey;
}

	}
